.wrapper {
	display: flex;
  overflow: auto;
}
.item {
	min-width: 500px;
  padding: 5px 5px 20px 20px;
  border-right: 5px solid white;
  overflow: auto;
  transform: skew(-3deg);
}
.item:last-of-type {
  border-right: none;
}
.item>div {
  transform: skew(2deg);
}
.step {
  font-size: 23px;
}
.item>div>ul {
  padding: 0 20px;
}
.item>div>ul>li {
  margin: 0 0 10px;
}